*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding: 0;
    height: auto;
}
li{
    list-style: none;
    padding: 30px;
    color: white;
    font-size: 150%;
    background: rgb(211, 97, 97);
}
ul {
    display: flex;
    background: rgba(0, 0, 0, 0.479);
    padding-left: 5%;
}